## secret key ##
# You can generate a secret key using `openssl rand -base64 32`.
# You must be at least 32 characters long and generated with high entropy.
BETTER_AUTH_SECRET=

## database url ##
BETTER_AUTH_URL=

## postgres settings ##
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
