## Postgres Settings ##
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
DATABASE_URL=

## Secret Key ##
# You can generate a secret key using `openssl rand -base64 32`.
# You must be at least 32 characters long and generated with high entropy.
BETTER_AUTH_SECRET=

## Database URL ##
BETTER_AUTH_URL=

## GitHub OAuth Settings ##
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
